body { 
font-family: Arial, sans-serif; 
line-height: 1.5;
font-size: 14px;
background: #333;
margin: 0;
padding: 0;
}

a { color: #50708F; text-decoration: none;}
a:hover { color: #880000; }

h1 {
margin: 0;
padding-left: 50px;
}
h1 a { text-decoration: none; color: #F9F7ED; }
h1 a:hover { border-bottom: 1px solid #F9F7ED; color: #F9F7ED; }

#wrap { 
width: 800px;
margin: 20px auto;
}

#header {
background: #333 url(images/header.jpg) no-repeat;
height: 140px;
line-height: 170px;
}

#menu {
background: #52add7 url(images/menu.jpg) no-repeat;
height: 30px;
line-height: 30px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 40px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 14px;
font-weight: 600;
}
#menu ul li a:hover {
color: #fff;
background: url(images/menuover.png) repeat-x;
}

#contentwrap {
background: #333 url(images/content.jpg) repeat-y;
padding: 0 50px 0 20px;
}

#content {
float: right;
width: 470px;
margin-top: 20px;
}
#content h2 {
margin: 0;
color: #57616A;
line-height: 30px;
font-size: 16px;
}

#content p { padding: 0 0 10px 0; color: #232323;}
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: left;
margin-top: 20px;
width: 230px;
padding-left: 10px;
}

#sidebar h3 {
background: url(images/sidebarh3.jpg) no-repeat;
height: 30px;
line-height: 30px;
font-weight: 600;
font-size: 14px;
margin: 0; padding: 0 0 0 20px; 
color: #fff;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

#sidebar ul {
padding: 10px 0 20px 40px;
margin: 0;
color: #50708F;
}

#sidebar ul li {
padding: 0;
margin: 0;
}

#sidebar ul ul { padding: 2px 0 2px 20px; }

#footer { 
background: #333 url(images/footer.jpg) no-repeat;
text-align: center;
color: #fff;
height: 90px;
line-height: 90px;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; }

/***FORM*********FORM***********FORM*********FORM*******FORM******FORM******FORM******FORM*****/
#form_container{}

.field_container { margin: 5px; display: block; height: 100%;}
.field_container label {width: 6em; display: block; }
.field_container input, .field_container select {display: block; }
.field_container .description{display: block; font-size: 0.8em; margin-left: 0.5em; color: blue;}
.field_container .error_msg{display: block; font-size: 0.8em; color: red; margin-left: 0.5em;}

